<section id="chat-section">
    <div class="active-friends">
      <div class="active-friends-content">
        <div class="one-active-friend">
          <p class="friend-chat-status friend-chat-status-online"></p>
          <p class="friend-chat-name">Active Friend Name</p>
        </div>
      </div>
    </div>
    <ul>
      <li class="message-item message-item-left">
        <p><span>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></p>
      </li>
      <li class="message-item message-item-right">
        <p><span>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></p>
      </li>
      <li class="message-item message-item-left">
        <p><span> is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></p>
      </li>
      <li class="message-item message-item-left">
        <p><span>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></p>
      </li>
      <li class="message-item message-item-left">
        <p><span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
          
          to make a type specimen book.</span></p>
      </li>
      <li class="message-item message-item-right">
        <p><span>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></p>
      </li>
      <li class="message-item message-item-left">
        <p><span>is simply dummy text of the printing and typesetting industry.
                                
          
          Lorem Ipsum has been the industry's                         standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></p>
      </li>
      <li class="message-item message-item-right">
        <p><span>is simply dummy text of the printing and typesetting                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </span></p>
      </li>
    </ul>
    <form class="chat-actions">
      <textarea name="message" rows="1" required></textarea>
      <button>Send</button>
    </form>
  </section>