<section id="chat-section">
  <div class="active-friends">
    <div class="active-friends-content">
      <div class="one-active-friend">
        <p class="friend-chat-status friend-chat-status-online"></p>
        <p class="friend-chat-name">Active Friend Name</p>
      </div>
    </div>
    <div class="back-to-chat-list">
      <%- include("icons/arrow-back-button") %>
    </div>
  </div>
  <ul></ul>
  <form class="chat-actions">
    <div class="chat-actions-layout">
      <div class="text-area-container">
        <textarea name="message" rows="1" required></textarea>
      </div>
      <%- include("icons/send-message-button") %>
    </div>
  </form>
</section>
