<section id="friends-section">
  <div class="friends-control">
    <div class="friends-actions">
      <div>
        <p>
          <span class="user-name">User Name</span> <span
            class="new-messages-count"
            >0</span
          >
        </p>
      </div>
      <div class="friends-actions-buttons">
        <%- include("icons/add-chat-button")%>
        <%- include("icons/logout-button")%>
      </div>
    </div>
  </div>
  <ul></ul>
</section>
