<section id="friends-section">
  <ul>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 1</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 2</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 4</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 5</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 6</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 7</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
    <li class="friend-chat-item"><p class="friend-chat-name">Friend 3</p></li>
  </ul>
</section>
