<section id="friends-section">
  <ul>
    <li class="friend-chat-item"><p>Friend 1</p></li>
    <li class="friend-chat-item"><p>Friend 2</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
    <li class="friend-chat-item"><p>Friend 3</p></li>
  </ul>
</section>
