<section id="friends-section">
  <div class="friends-control">
    <div class="friends-actions">
      <div>
        <p>
          <span class="user-name">User Name</span> (<span
            class="new-messages-count"
            >0</span
          >)
        </p>
      </div>
      <div class="friends-actions-buttons">
        <button class="add-friend-btn">New</button>
        <button class="log-out-btn">Logout</button>
      </div>
    </div>
  </div>
  <ul></ul>
</section>
