<title><%= pageTitle %></title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/styles/base.css" />
<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/724/724715.png" type="image/x-icon" />
