<header id="main-header">
  <div class="main-header-content">
    <div>
      <p class="website-logo">Chat Live</p>
    </div>
    <div class="chat-status">
      <p class="user-chat-status user-chat-status-offline"></p>
      <p>Offline</p>
    </div>
  </div>
</header>
