<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head", {pageTitle: "Error 505"}) %>
  </head>
  <body>
    <header id="main-header">
      <div class="main-header-content-error-page">
        <h1>500 - Internal server error</h1>
        <div>
          <a href="/"><button class="btn btn-alt">HOME</button></a>
        </div>
      </div>
    </header>
    <main></main>
  </body>
</html>
