<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO Chat</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/chat.css" />
    <link rel="stylesheet" href="/styles/auth.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/scripts/socket.io/socket.io-send-script.js" defer></script>
    <script
      src="/scripts/socket.io/socket.io-receive-ack-script.js"
      defer
    ></script>
    <script src="/scripts/socket.io/soocket.io-receive-broadcast-script.js"></script>
    <script src="/scripts/config-script.js"></script>
    <script src="/scripts/main-script.js" defer></script>
  </head>
  <body>
    <header id="main-header">
      <h1>Chat Live With Your Friends!</h1>
      <p>Built with Node.js, Socket.IO and MongoDB</p>
    </header>
    <main>
      <section id="friends-section">
        <ul>
          <li class="friend-chat-item"><p>Friend 1</p></li>
          <li class="friend-chat-item"><p>Friend 2</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
          <li class="friend-chat-item"><p>Friend 3</p></li>
        </ul>
      </section>
      <section id="chat-section">
        <div class="active-friends">
          <p>Active Friend Name</p>
        </div>
        <ul>
          <li class="message-item message-item-left">
            <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </li>
          <li class="message-item message-item-right">
            <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </li>
          <li class="message-item message-item-left">
            <p> is simply dummy text of the printing and typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </li>
          <li class="message-item message-item-left">
            <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </li>
          <li class="message-item message-item-left">
            <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it

to make a type specimen book.</p>
          </li>
          <li class="message-item message-item-right">
            <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </li>
          <li class="message-item message-item-left">
            <p> is simply dummy text of the printing and typesetting industry.
                                    
              
Lorem Ipsum has been the industry's                         standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </li>
          <li class="message-item message-item-right">
            <p> is simply dummy text of the printing and typesetting                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
          </li>

        </ul>
        <div class="chat-actions">
          <textarea rows="1"></textarea>
          <button>Send</button>
        </div>
      </section>
    </main>
  </body>
</html>
