<div id="modal">
  <h1>Do you really want to delete this message?</h1>
  <p>The message will be deleted for everyone</p>
  <button class="btn btn-alt" onclick="deleteOneMessage(event)">Yes</button>
  <button class="btn" onclick="hideModal(event)">No</button>
</div>
