<button class="add-friend-btn">
  <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40">
    <path
      fill="#404040"
      d="M5.75 31.542V8.75q0-1.25.875-2.146.875-.896 2.167-.896h19.125q1.25 0 2.145.896.896.896.896 2.146v8q-.25 0-.479-.042-.229-.041-.479-.041-.208 0-.396.041-.187.042-.354 0V8.75q0-.583-.375-.958t-.958-.375H8.792q-.584 0-.959.375t-.375.958v17.125h12.625q0 .208-.041.396-.042.187-.042.396 0 .25.021.479.021.229.062.437H9.708Zm5.833-17.459h13.542v-1.708H11.583Zm0 6.75h8.542v-1.708h-8.542ZM29.167 32.5v-5h-5v-1.708h5v-5h1.708v5h5V27.5h-5v5ZM7.458 25.875V7.417 25.875Z"
    />
  </svg>
</button>
