#sign-up-in-section {
  text-align: center;
}

#sign-up-in-section h1 {
  color: inherit;
  font-weight: 400;
  font-size: var(--font-size-4);
}

#sign-up-in-section form {
  width: 90%;
  margin: 4rem auto;
}

#sign-up-in-section p {
  margin: 1.5rem auto;
}

#sign-up-in-section label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--color-grey-500);
  font-size: var(--font-size-2);
}

#sign-up-in-section input {
  box-sizing: border-box;
  outline: none;
  font: inherit;
  padding: 0.75rem;
  width: 80%;
  text-align: center;
  color: var(--color-grey-300);
  font-size: var(--font-size-2);
}

#sign-up-in-section button {
  display: block;
  margin: 0 auto 0 auto;
}

#sign-up-in-section .btn-alt {
  border-color: var(--color-primary-100);
  background-color: var(--color-primary-100);
}

#sign-up-in-section .auth-error-info {
  box-sizing: border-box;
  background-color: var(--color-error-box);
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 6px;
  width: 80%;
  font-size: var(--font-size-0);
}

#sign-up-in-form-loader {
  margin: 1rem auto;
  width: 1rem;
  height: 1rem;
}

@media (min-width: 480px) {
  #sign-up-in-section form {
    width: 80%;
    max-width: 36rem;
  }

  .auth-error-info {
    font-size: var(--font-size-1);
  }
}

@media (min-width: 768px) {
  #sign-up-in-section input {
    font-size: var(--font-size-3);
  }
}

/* target all devices which can be hovered */
@media (hover: hover) {
  #sign-up-in-section .btn-alt:hover {
    background-color: var(--color-primary-100);
    border-color: var(--color-primary-100);
  }
}

/* target all devices which can NOT be hovered */
@media (hover: none) {
}
