html {
  --font-size-0: 0.8rem;
  --font-size-1: 1rem;
  --font-size-1-5: 1.1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.4rem;
  --font-size-4: 1.6rem;
  --font-size-5: 1.8rem;
  --font-size-6: 2rem;
  --font-size-7: 2.3rem;
  --font-size-8: 2.5rem;

  --color-primary-100: rgb(249, 253, 255);
  --color-primary-150: rgb(226, 243, 254);
  --color-primary-200: rgb(198, 233, 255);
  --color-primary-300: rgb(176, 222, 255);
  --color-primary-400: rgb(154, 215, 255);
  --color-primary-500: rgb(131, 205, 255);
  --color-primary-600: rgb(105, 195, 255);
  --color-primary-700: rgb(84, 187, 255);

  --color-grey-100: rgb(205, 205, 205);
  --color-grey-200: rgb(139, 139, 139);
  --color-grey-300: rgb(84, 84, 84);
  --color-grey-500: rgb(64, 64, 64);
  --color-grey-600: rgb(44, 44, 44);

  --color-error-box: rgb(244, 158, 158);
  --color-error-text: rgb(122, 23, 23);

  --color-danger-zone: rgb(122, 23, 23);

  --friends-section-width-1: 80%;
  --friends-section-width-2: 20rem;
  --friends-section-width-3: 60%;

  --friends-chat-section-from-top: 5rem;

  --friends-chat-section-from-left-right: 15%;

  --friends-selection-border-radius: 12px;

  --friends-chat-section-inner-border-radius: 12px;

  --friend-status-online: rgb(0, 196, 0);
  --friend-status-offline: var(--color-grey-200);

  --friend-status-dimension: 10px;
}

body {
  background-color: var(--color-primary-100);
  margin: 0;
  font-family: "Open-Sans", sans-serif;
  box-sizing: border-box;
  color: var(--color-grey-600);
  font-size: var(--font-size-1);
}

#main-header {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--color-primary-400);
}

.main-header-content {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.main-header-content-error-page {
  padding: 2rem;
}

.main-header-content-error-page h1 {
  font-size: var(--font-size-4);
  margin-top: 0;
}

#main-header p {
  margin: 0;
  font-size: var(--font-size-1);
}

#main-header .website-logo {
  font-weight: bold;
  font-size: var(--font-size-1-5);
}

#main-header .chat-status {
  display: none;
  align-items: center;
  gap: 0.5rem;
}

#main-header p.user-chat-status {
  margin: 0;
  padding: 0;
  width: var(--friend-status-dimension);
  height: var(--friend-status-dimension);
  border-radius: 100%;
  border: none;
}

#main-header p.user-chat-status-offline {
  background-color: var(--friend-status-offline);
}

#main-header p.user-chat-status-online {
  background-color: var(--friend-status-online);
}

#main-header a {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  font: inherit;
  padding: 1rem;
  background-color: var(--color-primary-200);
  border: 1px solid var(--color-primary-200);
  color: var(--color-grey-600);
  border-radius: 70px;
  cursor: pointer;
  font-size: var(--font-size-2);
  width: 10rem;
}

.btn-alt {
  background-color: white;
  border-color: white;
}

.loader {
  border: 5px solid var(--color-primary-200);
  border-top: 5px solid var(--color-primary-500);
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

#main-loader {
  margin: 10rem auto;
  width: 2rem;
  height: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 480px) {
  #main-header .website-logo {
    font-size: var(--font-size-3);
  }

  #main-loader {
    border-width: 10px;
    border-top-width: 10px;
    width: 4rem;
    height: 4rem;
  }
}

@media (min-width: 768px) {
  #main-header p {
    font-size: var(--font-size-2);
  }
}

@media (min-width: 1024px) {
  .main-header-content {
    margin-left: var(--friends-chat-section-from-left-right);
    margin-right: var(--friends-chat-section-from-left-right);
    padding: 0;
  }
}

/* target all devices which can be hovered */
@media (hover: hover) {
  .btn:hover {
    background-color: var(--color-primary-400);
    border-color: var(--color-primary-400);
  }

  .btn-alt:hover {
    background-color: var(--color-primary-150);
    border-color: var(--color-primary-150);
  }

  .btn:disabled {
    background-color: var(--color-primary-200);
    border-color: var(--color-primary-200);
    cursor: default;
  }

  .btn-alt:disabled {
    background-color: white;
    border-color: white;
    cursor: default;
  }
}

/* target all devices which can NOT be hovered */
@media (hover: none) {
}
