#chat-section {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: var(--friends-chat-section-from-top);
  bottom: 0;
}

#chat-section ul {
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  height: 67%;
  overflow: auto;
}

.message-item {
  margin: 2rem auto;
  color: var(--color-grey-600);
  font-size: var(--font-size-1-5);
}

.message-item-left {
  text-align: left;
}

.message-item-right {
  text-align: right;
}

.message-item p {
  margin: 0;
  padding: 0.5rem;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 80%;
  text-align: left;
  border-radius: 8px;
  position: relative;
}

.message-item p span {
  word-wrap: break-word;
}

.message-item-left p {
  background-color: var(--color-primary-150);
}

.message-item-right p {
  background-color: var(--color-primary-300);
}

.message-item .message-item-action {
  position: absolute;
  top: 0;
  left: -23px;
  cursor: pointer;
  display: none;
}

.message-item:hover .message-item-action {
  display: block;
}

.message-item p.message-item-error {
  background-color: white;
  color: var(--color-error-text);
  font-size: var(--font-size-0);
  text-align: right;
}

.message-item p.line-break-control {
  display: block;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.message-item .message-item-action-menu {
  position: absolute;
  border: 1px solid var(--color-danger-zone);
  border-radius: 8px;
  top: 0;
  left: -80px;
}

.message-item .message-item-action-menu button {
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: var(--font-size-0);
  color: var(--color-danger-zone);
  background-color: transparent;
  padding: 0.5rem;
  cursor: pointer;
}

.main-error-info {
  margin: 0;
}

.main-error-info p {
  box-sizing: border-box;
  background-color: var(--color-error-box);
  padding: 1.5rem;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.main-error-info span.closing-message-symbol {
  color: white;
  cursor: pointer;
}

.chat-actions {
  box-sizing: border-box;
  padding: 2rem 2rem 1.5rem 2rem;
  height: 18%;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.chat-actions-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-area-container {
  background-color: white;
  padding: 0.8rem 1rem;
  border: 1px solid var(--color-grey-100);
  border-radius: 20px;
  box-sizing: border-box;
  width: 85%;
}

.chat-actions textarea {
  resize: none;
  font: inherit;
  outline: none;
  border: none;
  color: var(--color-grey-600);
  padding: 0;
  width: 100%;
  height: 1.125rem;
  background-color: white;
}

.chat-actions button {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.scroll-to-bottom-btn {
  position: absolute;
  right: 3.5rem;
  bottom: 8rem;
  z-index: 1;
  cursor: pointer;
  border: 1px solid var(--color-grey-500);
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--color-primary-150);
}

.scroll-to-bottom-btn-animate {
  animation: 0.5s linear 0s infinite alternate slidein;
  background-color: var(--color-primary-300);
}

#messages-loader {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 50%;
  top: 15%;
}

@keyframes slidein {
  from {
    bottom: 8rem;
  }
  to {
    bottom: 9rem;
  }
}

@media (min-width: 480px) {
  .text-area-container {
    width: 93%;
  }
}

@media (min-width: 768px) {
  #chat-section {
    left: var(--friends-section-width-2);
    top: var(--friends-chat-section-from-top);
  }
}

@media (min-width: 1024px) {
  #chat-section {
    margin-right: var(--friends-chat-section-from-left-right);
    left: calc(
      var(--friends-section-width-2) +
        var(--friends-chat-section-from-left-right)
    );
  }
}

/* target all devices which can be hovered */
@media (hover: hover) {
}

/* target all devices which can NOT be hovered */
@media (hover: none) {
}
