#chat-section {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: var(--friends-chat-section-from-top-1);
  bottom: 0;
}

#chat-section ul {
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  height: 65%;
  overflow: auto;
}

.message-item {
  margin: 2rem auto;
  color: var(--color-grey-600);
  font-size: var(--font-size-1-5);
}

.message-item-left {
  text-align: left;
}

.message-item-right {
  text-align: right;
}

.message-item p {
  margin: 0;
  padding: 0.5rem;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 80%;
  text-align: left;
  border-radius: 8px;
  position: relative;
}

.message-item p span {
  word-wrap: break-word;
}

.message-item-left p {
  background-color: var(--color-primary-150);
}

.message-item-right p {
  background-color: var(--color-primary-300);
}

.message-item .message-item-action {
  position: absolute;
  top: 0;
  left: -23px;
  cursor: pointer;
}

.message-item p.message-item-error {
  background-color: white;
  color: var(--color-error-text);
  /* font-weight: bold; */
  font-size: var(--font-size-1);
}

.message-item p.line-break-control {
  display: block;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.main-error-info {
  margin: 0;
}

.main-error-info p {
  box-sizing: border-box;
  background-color: var(--color-error-box);
  padding: 1.5rem;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.main-error-info span.closing-message-symbol {
  color: white;
  cursor: pointer;
}

.chat-actions {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 2rem;
  height: 20%;
  position: relative;
}

.chat-actions textarea {
  padding: 1rem 2rem;
  box-sizing: border-box;
  width: 80%;
  resize: none;
  font: inherit;
  outline: none;
  border-radius: 70px;
  border: 1px solid var(--color-grey-100);
  overflow: auto;
  color: var(--color-grey-600);
}

.chat-actions button {
  box-sizing: border-box;
  width: 20%;
  font: inherit;
  cursor: pointer;
  height: 3.25rem;
}

.chat-actions .is-typing-info {
  position: absolute;
  top: 1rem;
  left: 2rem;
  margin: 0;
}

@media (min-width: 768px) {
  #chat-section {
    /* display: flex; */
    left: var(--friends-section-width-2);
    top: var(--friends-chat-section-from-top-2);
  }
}

@media (min-width: 1024px) {
  #chat-section {
    margin-right: var(--friends-chat-section-from-left-right);
    left: calc(
      var(--friends-section-width-2) +
        var(--friends-chat-section-from-left-right)
    );
  }
}

/* target all devices which can be hovered */
@media (hover: hover) {
}

/* target all devices which can NOT be hovered */
@media (hover: none) {
}
