body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

#main-header {
  padding: 2rem;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(175, 219, 250);
}

#main-header h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

#main-header p {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#friends-section {
  text-align: center;
  position: fixed;
  width: 80%;
  left: calc(50% - 40%);
  top: 13rem;
  bottom: 0;
  display: block;
}

#friends-section ul {
  padding: 0 2rem;
  max-height: 80%;
  overflow: auto;
  direction: rtl;
  background-color: rgb(226, 243, 254);
  border-radius: 12px;
}

.friend-chat-item {
  margin: 1.5rem auto;
  cursor: pointer;
}

.friend-chat-item p {
  margin: 0;
}

#chat-section {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 13rem;
  bottom: 0;
}

.active-friends {
  box-sizing: border-box;
  margin: 0;
  padding: 0 2rem;
  height: 13%;
}

.active-friends p {
  background-color: rgb(226, 243, 254);
  margin: 0;
  padding: 1.5rem 1.5rem;
  display: inline-block;
  border-radius: 12px;
  font-weight: bold;
}

#chat-section ul {
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  height: 67%;
  overflow: auto;
}

.message-item {
  margin: 2rem auto;
}

.message-item-left {
  text-align: left;
}

.message-item-right {
  text-align: right;
}

.message-item p {
  margin: 0;
  padding: 1rem;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 80%;
  text-align: left;
  border-radius: 8px;
  position: relative;
}

.message-item-left p {
  background-color: rgb(226, 243, 254);
}

.message-item-right p {
  background-color: rgb(175, 219, 250);
}

.message-item .message-item-action {
  position: absolute;
  top: 3px;
  left: -3px;
  cursor: pointer;
}

.message-item p.message-item-error {
  background-color: white;
  color: rgb(122, 23, 23);
  font-weight: bold;
}

.main-error-info {
  margin: 0;
}

.main-error-info p {
  box-sizing: border-box;
  background-color: rgb(238, 164, 164);
  padding: 1.5rem;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.main-error-info span.closing-message-symbol {
  color: white;
  cursor: pointer;
}

.chat-actions {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 2rem;
  height: 20%;
}

.chat-actions textarea {
  padding: 1rem 2rem;
  box-sizing: border-box;
  width: 80%;
  resize: none;
  font: inherit;
  outline: none;
  border-radius: 70px;
  border: 1px solid rgb(202, 201, 201);
}

.chat-actions button {
  box-sizing: border-box;
  width: 20%;
  font: inherit;
  cursor: pointer;
  height: 3.25rem;
  border-radius: 70px;
  border: 1px solid rgb(202, 201, 201);
  background-color: rgb(226, 243, 254);
}

@media (min-width: 768px) {
  #friends-section {
    width: 15rem;
    text-align: left;
    left: 0;
    top: 11.5rem;
  }

  #chat-section {
    display: flex;
    left: 15rem;
    top: 11.5rem;
  }
}

@media (min-width: 1024px) {
  #friends-section {
    margin-left: 15%;
  }

  #chat-section {
    margin-right: 15%;
    left: calc(15rem + 15%);
  }
}

/* target all devices which can be hovered */
@media (hover: hover) {
}

/* target all devices which can NOT be hovered */
@media (hover: none) {
}
