#friends-section {
  text-align: center;
  position: fixed;
  width: var(--friends-section-width-1);
  left: calc(50% - var(--friends-section-width-1) / 2);
  top: var(--friends-chat-section-from-top-1);
  bottom: 0;
  display: none;
  color: var(--color-grey-500);
}

.friends-control {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: var(--color-primary-150);
}

.friends-control button {
  font: inherit;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
}

.friends-control .friends-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friends-control .friends-actions p {
  padding: 0;
  margin: 0;
}

.friends-control .friends-actions-buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.friends-control .invitation-link {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friends-control .invitation-link input {
  font: inherit;
  border: none;
  margin: 0;
  padding: 0.25rem;
  background-color: white;
  text-align: left;
  border: 1px solid var(--color-grey-100);
  width: 50%;
  color: inherit;
  outline: none;
}

.friends-control .invitation-link .invitation-link-actions {
  display: flex;
  gap: 1.5rem;
}

.friends-control-error {
  color: var(--color-error-text);
  font-size: var(--font-size-1);
  text-align: left;
}

.friends-control-error p {
  margin: 0;
  margin-top: 0.75rem;
}

#friends-section ul {
  padding: 0 1rem;
  max-height: 80%;
  overflow: auto;
  direction: rtl;
  background-color: var(--color-primary-150);
  border-radius: 12px;
}

.friend-chat-item {
  padding: 0.75rem;
  margin: 0.25rem 0;
  cursor: pointer;
  border: 5px solid transparent;
  border-radius: var(--friends-selection-border-radius);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.friend-chat-item .friend-chat-main-info {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  align-items: center;
}

.friend-chat-item p {
  margin: 0;
}

.friend-chat-item p.friend-chat-name {
  font-size: var(--font-size-2);
}

.friend-chat-item p.friend-chat-status,
.active-friends p.friend-chat-status {
  margin: 0;
  padding: 0;
  width: var(--friend-status-dimension);
  height: var(--friend-status-dimension);
  border-radius: 100%;
  border: none;
}

.friend-chat-item p.friend-chat-status-online,
.active-friends p.friend-chat-status-online {
  background-color: var(--friend-status-online);
}

.friend-chat-item p.friend-chat-status-offline,
.active-friends p.friend-chat-status-offline {
  background-color: var(--friend-status-offline);
}

.friend-chat-item-selected {
  border-color: var(--color-primary-500);
  font-weight: bold;
}

.friend-chat-item-unread {
  font-weight: bold;
}

.active-friends {
  box-sizing: border-box;
  margin: 0;
  padding: 0 2rem;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}  

.active-friends button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  border: 5px solid transparent;
  color: var(--color-grey-600);
}

.active-friends .active-friends-content {
  border: 5px solid var(--color-primary-500);
  background-color: var(--color-primary-150);
  margin: 0;
  padding: 1rem 1rem;
  display: inline-block;
  border-radius: var(--friends-selection-border-radius);
  font-weight: bold;
  font-size: var(--font-size-2);
  color: var(--color-grey-500);
}

.active-friends .one-active-friend {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.active-friends .back-to-chat-list {
  align-self: flex-start;
  color: var(--color-grey-500);
}

.active-friends p {
  margin: 0;
  padding: 0;
}

@media (min-width: 480px) {
  #friends-section {
    width: var(--friends-section-width-3);
    left: calc(50% - var(--friends-section-width-3) / 2);
  }

  #friends-section-control {
    justify-content: center;
    gap: 6rem;
  }
}

@media (min-width: 768px) {
  #friends-section {
    width: var(--friends-section-width-2);
    text-align: left;
    left: 0;
    top: var(--friends-chat-section-from-top-2);
  }

  #friends-section-control {
    justify-content: space-around;
    gap: 0;
  }

  .active-friends .back-to-chat-list {
    display: none;
  }
}

@media (min-width: 1024px) {
  #friends-section {
    margin-left: var(--friends-chat-section-from-left-right);
  }
}

/* target all devices which can be hovered */
@media (hover: hover) {
  .friend-chat-item:hover {
    border-color: var(--color-primary-500);
  }
}

/* target all devices which can NOT be hovered */
@media (hover: none) {
}
