#friends-section {
  text-align: left;
  position: fixed;
  width: var(--friends-section-width-1);
  left: calc(50% - var(--friends-section-width-1) / 2);
  top: var(--friends-chat-section-from-top);
  bottom: 0;
  display: none;
  color: var(--color-grey-500);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.friends-control {
  padding: 1rem;
  border-radius: var(--friends-chat-section-inner-border-radius);
  background-color: var(--color-primary-150);
}

.friends-control button {
  font: inherit;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.friends-control .friends-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friends-control .friends-actions p {
  padding: 0;
  margin: 0;
}

.friends-control .friends-actions-buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.friends-control .friends-actions-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.friends-control .friends-actions-buttons .add-friend-btn {
  height: 48px;
  width: 48px;
  position: relative;
}

.friends-control .friends-actions-buttons .add-friend-btn:disabled {
  cursor: auto;
}

.friends-control .friends-actions-buttons .log-out-btn {
  height: 24px;
  width: 24px;
}

.friends-control .friends-actions-buttons .log-out-btn:disabled {
  cursor: auto;
}

.friends-control .user-name {
  font-size: var(--font-size-1);
  font-weight: bold;
}

.friends-control .invitation-link {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friends-control .invitation-link input {
  font: inherit;
  border: none;
  margin: 0;
  padding: 0.25rem;
  background-color: white;
  text-align: left;
  border: 1px solid var(--color-grey-100);
  width: 50%;
  color: inherit;
  outline: none;
}

.friends-control .invitation-link-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.friends-control .invitation-link-actions button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.friends-control .invitation-link-actions .invitation-link-share-btn {
  height: 48px;
  width: 48px;
}

.friends-control .invitation-link-actions .invitation-link-close-btn {
  height: 24px;
  width: 24px;
}

.friends-control-error {
  color: var(--color-error-text);
  font-size: var(--font-size-0);
  text-align: left;
}

.friends-control-error p {
  margin: 0;
  margin-top: 0.75rem;
}

#friends-section ul {
  box-sizing: border-box;
  padding: 1rem 1rem;
  height: 100%;
  overflow: auto;
  background-color: var(--color-primary-150);
  border-radius: var(--friends-chat-section-inner-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.friend-chat-item {
  padding: 0.75rem;
  margin: 0.25rem 0;
  height: 3rem;
  cursor: pointer;
  border-radius: var(--friends-selection-border-radius);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}

.friend-chat-item .friend-chat-main-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.friend-chat-item p {
  margin: 0;
}

.friend-chat-item p.friend-chat-name {
  font-size: var(--font-size-2);
}

.friend-chat-item p.friend-chat-status,
.active-friends p.friend-chat-status {
  margin: 0;
  padding: 0;
  width: var(--friend-status-dimension);
  height: var(--friend-status-dimension);
  border-radius: 100%;
  border: none;
}

.friend-chat-item p.friend-chat-status-online,
.active-friends p.friend-chat-status-online {
  background-color: var(--friend-status-online);
}

.friend-chat-item p.friend-chat-status-offline,
.active-friends p.friend-chat-status-offline {
  background-color: var(--friend-status-offline);
}

.friend-chat-item-unread {
  font-weight: bold;
}

.friend-chat-item .friend-chat-preview p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friend-chat-item-error {
  padding: 0.75rem;
  margin: 0.25rem 0;
  color: var(--color-error-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.friend-chat-item-error p {
  margin: 0;
}

.friend-chat-item-error .friend-chat-item-error-btn {
  cursor: pointer;
}

.active-friends {
  box-sizing: border-box;
  margin: 0;
  padding: 0 2rem;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.active-friends button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-grey-600);
}

.active-friends .active-friends-content {
  background-color: var(--color-primary-200);
  margin: 0;
  padding: 1rem 1rem;
  display: inline-block;
  border-radius: var(--friends-selection-border-radius);
  font-size: var(--font-size-2);
  color: var(--color-grey-500);
}

.active-friends .one-active-friend {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.active-friends .back-to-chat-list {
  color: var(--color-grey-500);
}

.active-friends .back-to-chat-list button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-friends p {
  margin: 0;
  padding: 0;
}

.active-friends .is-typing-info {
  position: absolute;
  top: 4rem;
  left: 2rem;
  margin: 0;
}

#add-friend-loader {
  width: 16px;
  height: 16px;
  position: absolute;
}

@media (min-width: 480px) {
  #friends-section {
    width: var(--friends-section-width-3);
    left: calc(50% - var(--friends-section-width-3) / 2);
  }

  #friends-section-control {
    justify-content: center;
    gap: 6rem;
  }
}

@media (min-width: 768px) {
  #friends-section {
    width: var(--friends-section-width-2);
    text-align: left;
    left: 0;
    top: var(--friends-chat-section-from-top);
  }

  .friends-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  #friends-section ul {
    border-top-left-radius: 0;
  }

  #friends-section-control {
    justify-content: space-around;
    gap: 0;
  }

  .friend-chat-item-selected {
    background-color: var(--color-primary-200);
    cursor: auto;
  }

  .active-friends .back-to-chat-list {
    display: none;
  }
}

@media (min-width: 1024px) {
  #friends-section {
    margin-left: var(--friends-chat-section-from-left-right);
  }

  .friends-control {
    border-radius: var(--friends-chat-section-inner-border-radius);
  }

  #friends-section ul {
    border-top-left-radius: var(--friends-chat-section-inner-border-radius);
  }
}

/* target all devices which can be hovered */
@media (hover: hover) {
  .friend-chat-item:hover {
    background-color: var(--color-primary-200);
  }
}

/* target all devices which can NOT be hovered */
@media (hover: none) {
}
