.modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
}

.modal-prompt {
  box-sizing: border-box;
  text-align: center;
  background-color: var(--color-primary-150);
  border-radius: 12px;
  padding: 2rem;
  width: 90%;
  margin: 9rem auto;
  position: relative;
}

.modal-prompt h1 {
  color: inherit;
  font-weight: 400;
  font-size: var(--font-size-4);
}

.modal-prompt p {
  margin: 1.5rem auto;
  white-space: pre-wrap;
  font-size: var(--font-size-1);
  color: var(--color-grey-500);
}

.modal-prompt button {
  display: block;
  margin: 0 auto;
  margin: 1.5rem auto;
}

.modal-prompt .btn-alt {
  border-color: var(--color-primary-100);
  background-color: var(--color-primary-100);
}

.modal-prompt .modal-prompt-error {
  margin: 1.5rem auto;
  color: var(--color-error-text);
  font-size: var(--font-size-0);
  text-align: center;
}

#modal-loader {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: calc(50% - 0.5rem);
  bottom: 1rem;
}

@media (min-width: 480px) {
  .modal-prompt {
    width: 80%;
    max-width: 36rem;
  }
}

@media (min-width: 768px) {
}

/* target all devices which can be hovered */
@media (hover: hover) {
  .modal-prompt .btn-alt:hover {
    background-color: var(--color-primary-100);
    border-color: var(--color-primary-100);
  }
}

/* target all devices which can NOT be hovered */
@media (hover: none) {
}
